.LoginForm__form{
  background: var(--01dp);
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  align-items: center;
  min-width: 480px;
  margin-left: 1rem;
}

@media (max-width: 1500px) {
  .LoginForm__form{
    margin-left: 0.75rem;
  }
}

.LoginForm__title{
  color: var(--surface);
}

.LoginForm__label{
  margin-bottom: 1rem;
}


