:root{
  --main-black: #121212;
  --01dp: #ffffff0D;
  --02dp: #ffffff12;
  --03dp: #ffffff14;
  --04dp: #ffffff17;
  --05dp: #ffffff1C;
  --surface: #ffffff;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  background: var(--main-black);
}

